body {
    background-color: #B2DFDB;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    display: flex;
    justify-content: center;
    background-color: #00796B;
    color: #ffffff;
    padding: 1em;
    font-family: 'Courgette', cursive;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.first-section {
    margin: 4px 4px 4px 4px;
    justify-content: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.card {
    flex: 0 0 29%;
    box-shadow: 2px 2px 2px 2px;
    margin: 5px 5px 5px 5px;
}

.title {
    text-align: center;
    border: 1px solid lightblue;
    margin: 4px 4px 4px 4px;

}

.description {
    text-align: justify;
    text-justify: inter-word;
}

.specs {
    font-weight: bold; 
}

.price {
    font-weight: bold;
}

.availability {
    background-color: #757575;
    color: yellow;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: aquamarine;
    }

}

.first-section {
    position: relative;
}

.soldOut {
    position: absolute;
    top: 10%;
    width: 100%;
}